body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 94%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 4%;
  border-radius: 4%;
  border-bottom-right-radius: 30%;
}

div {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

span {
  color: hsl(259, 100%, 65%);
}

input {
  padding: 16px 20px;
  font-size: 1.7rem;
  font-weight: 700;
  width: 150px;
  border-radius: 5%;
  border: 1px solid hsl(0, 0%, 86%);
  box-sizing: border-box;
  margin-right: 20px;
}

.line {
  border: 0.01rem solid hsl(0, 0%, 94%);
  width: 600px;
}

.button-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 44px;
  padding: 1.2rem;
}

label {
  font-size: 0.8rem;
  color: hsl(0, 1%, 44%);
  line-height: 2;
  letter-spacing: 0.2rem;
}

.results {
  font-size: 6rem;
  line-height: 100%;
  font-style: italic;
  font-weight: 800;
}

p {
  margin: 0;
  color: hsl(0, 0%, 8%);
}

#errorDay > p,
#errorYear > p,
#errorMonth > p {
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 67%);
  padding-top: 8px;
}

@media screen and (max-width: 375px) {
  .container {
    width: 80%;
    margin-top: 60px;
    padding-top: 10%;
    padding-left: 8%;
    padding-bottom: 15%;
    align-items: flex-start;
  }

  .line {
    width: 275px;
  }

  input {
    width: 5rem;
    font-size: 1rem;
    padding: 1rem;
  }

  .results {
    font-size: 3.3rem;
    line-height: 3.5rem;
  }

  img {
    width: 24px;
  }

  button {
    position: relative;
    right: 50%;
    margin: 8% 0;
  }

  #errorDay > p,
  #errorYear > p,
  #errorMonth > p {
    padding: 8px;
  }
}
